/*

!/.gitignore
!/src/
/src/*
!/src/multiple_abb_irb120_testing/
!src/multiple_abb_irb120_testing/src
!src/multiple_abb_irb120_testing/CMakeLists.txt
!src/multiple_abb_irb120_testing/package.xml
!src/multiple_abb_irb120_testing/launch
src/multiple_abb_irb120_testing/launch/temp/

CMakeCache.txt
cmake_install.cmake
CTestConfiguration.ini
CTestTestfile.cmake
CTestCustom.cmake
Makefile

test_results/
atomic_configure/
catkin/
catkin_generated/
cmake/
CMakeFiles/
gtest/
devel/
