/*

!/.gitignore
!/src/
/src/*
!/src/my_abb_irb120/
!src/my_abb_irb120/src
!src/my_abb_irb120/CMakeLists.txt
!src/my_abb_irb120/package.xml
!src/my_abb_irb120/launch

CMakeCache.txt
cmake_install.cmake
CTestConfiguration.ini
CTestTestfile.cmake
CTestCustom.cmake
Makefile

test_results/
atomic_configure/
catkin/
catkin_generated/
cmake/
CMakeFiles/
gtest/
devel/