<?xml version="1.0" ?>

<robot name="abb_irb120_3_58_$(arg robotns)" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="robotns" default="robot1" />

  <xacro:include filename="$(find multiple_abb_irb120)/config/abb_irb120_3_58_macro.srdf.xacro"/>	
  <xacro:abb_irb120_3_58_g prefix="$(arg prefix)" robotns="$(arg robotns)"/>
</robot>
