<launch>
  <arg name="must_start_world" default="true"/>
	<arg name="robots" default="2" doc="Number of robots to spawn" />
  <arg name="asdf" default="[robot1,robot2]"/>

  <!-- IMPORTANT: topics must be remapped before using this launchfile
  <remap from="/$(arg base_name)$(arg robots)/arm_controller/follow_joint_trajectory" to="/$(arg base_name)$(arg robots)/joint_trajectory_action" />
  <remap from="/$(arg base_name)$(arg robots)/arm_controller/state" to="/$(arg base_name)$(arg robots)/feedback_states" />
  <remap from="/$(arg base_name)$(arg robots)/arm_controller/command" to="/$(arg base_name)$(arg robots)/joint_path_command"/>
  -->

  <include file="$(find my_abb_irb120)/launch/recursive_spawn.launch" if="$(eval arg('robots') >= 1)">
    <arg name ="number" value="$(arg robots)"/>
  </include>

  <!-- startup simulated world -->
  <include if="$(arg must_start_world)" file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="gui" value="true"/>
  </include>

</launch>
