<launch>

  <arg name="robot_name" default="robot1"/>
  <arg name="position_x" default="0"/>
  <arg name="position_y" default="0"/>
  <arg name="position_z" default="0"/>
  <arg name="robot_description" default=""/>

<!-- /robot_description makes it so the param is the already created one???? -->

<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <include file="$(find my_abb_irb120)/launch/load_irb120_3_58.launch"> 
   <arg name="param_name" value="/robot_description"/>
   <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

<!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="abb_irb120_$(arg robot_name)_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param /robot_description -robot_namespace $(arg robot_name) -model abb_irb120_3_58_$(arg robot_name) -x $(arg position_x) -y $(arg position_y) -z $(arg position_z)" ns="$(arg robot_name)"/>
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" ns="$(arg robot_name)"/>

  <!-- init and start Gazebo ros_control interface -->
  <include file="$(find my_abb_irb120)/launch/irb120_3_58_control.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

</launch>
