<?xml version="1.0" ?>

<robot name="abb_irb120_3_58" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="robotns" default="" />
  <xacro:include filename="$(find multiple_abb_irb120)/urdf/irb120_3_58_macro.xacro"/>	
  <xacro:abb_irb120_3_58_g prefix="$(arg prefix)" robotns="$(arg robotns)"/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
  </joint>
</robot>
