<launch>
	<arg name="paused" default="false" doc="Start gazebo in paused mode" />


  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>



<!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />


  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <include file="$(find abb_irb120_gazebo)/launch/load_irb120_3_58.launch" />
  <node name="abb_irb120_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-x 0 -y 0 -z 0 -urdf -param robot_description -model first_abb_irb120_3_58" />
<!-- convert joint states to TF transforms for rviz, etc -->
<node name="first_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" 
          output="screen"/>
  <!-- init and start Gazebo ros_control interface -->
  <include file="$(find abb_irb120_gazebo)/launch/irb120_3_58_control.launch"/>


<!-- remap topics to conform to ROS-I specifications -->
  <remap from="/arm_controller/follow_joint_trajectory" to="/robot1/joint_trajectory_action" />
  <remap from="/arm_controller/state" to="/robot1/feedback_states" />
  <remap from="/arm_controller/command" to="/robot1/joint_path_command"/>

  </group>

<!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <include file="$(find abb_irb120_gazebo)/launch/load_irb120_3_58.launch" />
  <node name="abb_irb120_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-x 2 -y 0 -z 0 -urdf -param robot_description -model second_abb_irb120_3_58" />
    <!-- convert joint states to TF transforms for rviz, etc -->
<node name="second_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" 
          output="screen"/>
  <!-- init and start Gazebo ros_control interface -->
  <include file="$(find abb_irb120_gazebo)/launch/irb120_3_58_control.launch"/>

<!-- remap topics to conform to ROS-I specifications -->
  <remap from="/arm_controller/follow_joint_trajectory" to="/robot2/joint_trajectory_action" />
  <remap from="/arm_controller/state" to="/robot2/feedback_states" />
  <remap from="/arm_controller/command" to="/robot2/joint_path_command"/>

  </group>



</launch>
